MONGODB_URI=insert mongodb uri
MICRO_MONGODB_URI=insert appointment service mongodb uri
JWT_SECRET= insert jwt secret token
VITE_API_URL=inser API url
PORT= insert main port
MICRO_PORT= insert appointment service port
NODE_ENV= insert node env status
